<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<ul id="show_roles"> 
<lh>User in Roles:</lh> 
	<% @user.roles.each do |r| %>
		<li> <%= r.name %> </li>
	<% end %>
</ul>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
