<h1>Listing leases</h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Rent</th>
    <th>Unit</th>
    <th>Renter(s)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leases.each do |lease| %>
  <tr>
    <td><%= lease.start_date %></td>
    <td><%= lease.end_date %></td>
    <td><%= lease.rent %></td>
    <td><%= lease.unit.full_name %></td>
    <td></td>   
    <td><%= link_to 'Show', lease %></td>
    <% if can?  :restful, @lease %>
        <td><%= link_to 'Edit', edit_lease_path(lease) %></td>
        <td><%= link_to 'Destroy', lease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
  <% lease.users.each do |u| %>
  <tr>
  	<td colspan='4'>
  	<td><%= u.username %></td>
  	<td colspan='3'></td>
  </tr>
  <%end %>
<% end %>
</table>

<br />
<% if can? :create, @lease %>
    <%= link_to 'New Lease', new_lease_path %>
<% end %>