<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @lease.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @lease.end_date %>
</p>

<p>
  <b>Rent:</b>
  <%= @lease.rent %>
</p>

<p>
  <b>Unit:</b>
  <%= @lease.unit.full_name %>
</p>

<ul id="show_renters"> 
<lh>Renters:</lh> 
	<% @lease.users.each do |u| %>
		<li> <%= u.username %> </li>
	<% end %>
</ul>
<%= link_to 'Edit', edit_lease_path(@lease) %> |
<%= link_to 'Back', leases_path %>
